<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                A very ordinary man, whom God has given the ability to observe the world and see its beauty.
                Finds pleasure in showing of this beauty, in the diversity of people's life and activities in His works.
            </p>
            <p>
                I really wish you could see the beauty of God and His creation directly around himself and through this art.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <quote>
                    "When I consider thy heavens, the work of thy fingers, the moon and the stars, which thou hast ordained;
                    What is man, that thou art mindful of him? and the son of man, that thou visitest him?"
                    <strong>The Bible, Psalms 8</strong>
                </quote>
            </p>
        </div>
    </div>
</section>
